<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='42.jpg') }}">
	<title>
	{% if title|length %}
		{{title}}
	{% else %}
		Students
	{% endif %}
	</title>
</head>
	<body class="w-full h-full bg-neutral-100 p-0 m-0 text-center">
		<div>
			<h1 class="text-xl font-serif">42 Firenze students list</h1>
			<div>Total {{students | length}}</div>
		</div>
		<main class="px-6 py-3 space-y-4">
			{% for student in students %}
				<div class="flex w-full px-4 py-2 border border-gray-400 text-left">
					<a href="https://profile.intra.42.fr/users/{{student.login}}" target="_blank" referrer="noreferrer">
						{% if student.image.link %}
							<img src="{{student.image.link}}" class="h-72 max-w-44 object-scale-down"/>
						{%else%}
							<img src="/static/placeholder-user.png" class="h-72 max-w-44 object-scale-down"/>
						{%endif%}
						<h1>{{student.login}}</h1>
					</a>
					<div class="flex flex-col justify-center gap-2">
						<h2 class="flex gap-1"> <span class="select-none" title="displayname">Display name:</span class="select-none">{{student.displayname}}</h2>
						<h3 class="flex gap-1"> <span class="select-none" title="email">Email:</span class="select-none">{{student.email}}</h3>
						<h6 class="flex gap-1"> <span class="select-none" title="wallet">Wallet:</span class="select-none">{{student.wallet}}</h6>
						<p class="flex gap-1"><span class="select-none" title="kind">Kind:</span class="select-none">{{student.kind}}</p>
						<div>
							<p class="flex gap-1"> <span class="select-none" title="pool_month">Month:</span class="select-none">{{student.pool_month}}</p>
							<p class="flex gap-1"> <span class="select-none" title="pool_year">Year:</span class="select-none">{{student.pool_year}}</p>
						</div>
					</div>
				</div>
				<!-- <div>{{student}}</div> -->
			{% endfor %}
		</main>
		<fieldset class="font-mono text-left border border-neutral-500 m-4 p-4 sm:mx-6 sm:my-5">
			<legend class="font-bold font-serif text-xl"> Available attributes </legend>
			<pre class="">
				<span class="font-semibold">id</span>: number,
				<span class="font-semibold">email</span>: string,
				<span class="font-semibold">login</span>: string,
				<span class="font-semibold">first_name</span>: string,
				<span class="font-semibold">last_name</span>: string,
				<span class="font-semibold">usual_full_name</span>: string,
				<span class="font-semibold">usual_first_name</span>: string,
				<span class="font-semibold">url</span>: string,
				<span class="font-semibold">phone</span>: string,
				<span class="font-semibold">displayname</span>: string,
				<span class="font-semibold">kind</span>: string,
				<span class="font-semibold">staff<span class="text-red-500">?</span></span>: boolean,
				<span class="font-semibold">correction_point</span>: number,
				<span class="font-semibold">pool_month</span>: string,
				<span class="font-semibold">pool_year</span>: string,
				<span class="font-semibold">location</span>: string,
				<span class="font-semibold">wallet</span>: number,
				<span class="font-semibold">anonymize_date</span>: string,
				<span class="font-semibold">data_erasure_date</span>: string,
				<span class="font-semibold">created_at</span>: string,
				<span class="font-semibold">updated_at</span>: string,
				<span class="font-semibold">alumnized_at</span>: string,
				<span class="font-semibold">alumni<span class="text-red-500">?</span></span>: boolean,
				<span class="font-semibold">active<span class="text-red-500">?</span></span>: boolean,
			</pre>
		</fieldset>
	</body>
</html>